<div class="buttonContainer">
  <div class="buttonElement" (click)="deleteScoreValue()" *ngIf="isScoreDeleteable()">
    Eintrag Löschen
  </div>
  <div class="buttonSpacer"></div>
  <div class="buttonElement" (click)="nav.goToPatientView(patient.personId)">
    Patientenübersicht
  </div>
  <div class="buttonElement" (click)="nav.goToPatients()">
    Patientenliste
  </div>
  <div class="buttonSpacer"></div>
  <div class="buttonElement" (click)="nav.goToAbout()">
    About
  </div>
  <div class="buttonElement" (click)="nav.logout()">
    Logout
  </div>
</div>
