<app-header [pageTitle]="pageTitle" [pageTitle2]="pageTitle2"></app-header>
<div class="container">
  <div class="content">
    <p-chart type="line" [data]="data" [options]="options"></p-chart>

    <p-dropdown [options]="scores" [(ngModel)]="selectedScore" [style]="{'width':'100%'}"></p-dropdown>
    <p-scrollPanel [style]="{width: '100%', height: 'calc( 100vh - 300px )'}" class="scroll"
                   *ngIf="selectedScore && selectedScore.values && selectedScore.values.length > 0">
      <app-score-value-item [patient]="patient" [scoreValue]="scoreValue"
                            *ngFor="let scoreValue of selectedScore.values | reverse"></app-score-value-item>
    </p-scrollPanel>
  </div>
</div>
