<app-header [pageTitle]="pageTitle" [pageTitle2]="pageTitle2"></app-header>
<div class="container">
  <div class="content">
    <p-chart type="line" [data]="data" [options]="options"></p-chart>

    <p-dropdown [options]="scores" [(ngModel)]="selectedScore" [style]="{'width':'100%'}" (ngModelChange)="onScoreChange()"></p-dropdown>
    <p-scrollPanel [style]="{width: '100%', height: 'calc( 100vh - 300px )'}" class="scroll"
                   *ngIf="selectedScore && selectedScore.values && selectedScore.values.length > 0">
      <app-score-value-item [patient]="patient" [scoreValue]="scoreValue" [disabled]="selectedScore.completed"
                            *ngFor="let scoreValue of selectedScore.values | reverse"></app-score-value-item>
    </p-scrollPanel>
  </div>
</div>

<p-dialog header="SOFA-Score Anstieg!" [(visible)]="displayWarningDialog" modal="true" styleClass="warnDialog"
          closable="false">
  Achtung. Der SOFA-Score ist um {{sofaScoreRise}} Punkte angestiegen! Im Falle einer bestehenden Infektion bzw. wahrscheinlichen
  Infektion hat der Patient eine Sepsis. Bitte kontaktieren Sie umgehend die Intensivstation zur intensivmedizinischen
  Beurteilung des Patienten.
  <p-footer>
    <button pButton label="Verstanden" (click)="acceptWarning()"></button>
  </p-footer>
</p-dialog>
