@import "./src/global.scss";

// content css grid
.content {
  width: 100vw;
  height: $header_height;
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 35px 40px;
  grid-template-areas: "logo buttons" "current buttons";

  // logo
  .logo {
    margin-left: 5px;
    grid-area: logo;
    font-size: 1.5em;
    align-self: center;

    // Erster Abschnitt Logo
    .first {
      color: $primary;
    }

    // Zweiter Abschnitt Logo
    .second {
      color: $secondary;
    }
  }

  // Titel
  .title {
    margin-left: 5px;
    color: $font-color-light;

    // Sub-Titel
    .subTitle {
      font-size: 0.8em;
    }
  }

  // Button Area, rechts
  .header-content {
    grid-area: buttons;
    justify-self: right;
    align-self: center;
    margin-right: 20px;
    color: $background-light-color;
  }
}
