@import "src/global";

.container {
  width: 100vw;
  color: $font-color-light;
  font-style: $font;
  .content {
    margin: 0 auto auto auto;
    width: 90vw;
    div{
      padding-bottom: 5px;
    }
    .big_bold{
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}
