<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="big_bold">SepDetect, Version 0.9</div>
    <div style="padding-bottom: 20px">Build ID (da39a3ee5e6b4)</div>
    <div style="padding-bottom: 20px"> Wir erklären in alleiniger Verantwortung, dass das Medizinprodukt SepDetect nach
      Anhang I der Verordnung (EU)
      2017/745 (MDR) alle anwendbaren grundlegenden Sicherheits- und Leistungsanforderungen erfüllt.
    </div>
    <div class="big_bold">Hersteller:</div>
    <div>Beuth Hochschule für Technik Berlin</div>
    <div>FSI Medizinische Informatik</div>
    <div>Projekt SepDetect</div>
    <div>Luxemburger Str. 9</div>
    <div style="padding-bottom: 20px">13353 Berlin</div>
    <div class="big_bold">Kundendienst:</div>
    <div>eMail info@sepdect.com</div>
    <div> Tel 555-1234</div>
  </div>
</div>
