<div class="buttonContainer">
  <div class="buttonElement" (click)="nav.goToEditScoreValue(patient,null)">
    SOFA-Score eintragen
  </div>
  <div class="buttonElement" (click)="endSofaHistory()" *ngIf="isEndHistoryPossible()">
    SOFA-Verlauf beenden
  </div>
  <div class="buttonSpacer"></div>
  <div class="buttonElement" (click)="nav.goToEditPatient(patient.personId)">
    Patient bearbeiten
  </div>
  <div class="buttonElement" (click)="inactivatePatient()" *ngIf="isPatientArchiveable()">
    Patient archivieren
  </div>
  <div class="buttonElement" (click)="deletePatient()">
    Patient löschen
  </div>
  <div class="buttonSpacer"></div>
  <div class="buttonElement" (click)="nav.goToPatients()">
    Patienten Liste
  </div>
  <div class="buttonSpacer"></div>
  <div class="buttonElement" (click)="nav.goToAbout()">
    About
  </div>
  <div class="buttonElement" (click)="nav.logout()">
    Logout
  </div>
</div>
