@import "src/global";

.component {
  width: 90vw;
  height: 60vh;
  background-color: $background-light-color;
  display: grid;
  grid-template-columns: 100%;
  color: black;
  border: 1px $input_border solid;
  border-radius: 5px;
  grid-row-gap: 5px;
  padding: 5px 15px 15px 15px;
  margin: 10px 0;

  .title {
    justify-self: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  .item {

  }

  .selectItem {
    display: grid;
    grid-template-columns: 10% 83% 7%;
    width: 100%;
    border: 1px solid $input_border;
    border-radius: $border-radius;
    padding: 4px;
    align-content: center;
    justify-content: center;
  }

  .selectedItem{
    background-color: $secondary;
    color: $font-color-light;
  }
}
