<form [formGroup]="form" class="formContent">
  <input id="float-input1" type="text" pInputText formControlName="lastName" placeholder="Nachname" class="inputFiled">
  <input id="float-input2" type="text" pInputText formControlName="surName" placeholder="Vorname" class="inputFiled">
  <input id="float-input4" type="text" pInputText formControlName="piz" placeholder="Piz" class="inputFiled">
  <p-calendar formControlName="birthday" [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" class="inputFiled"></p-calendar >
  <input id="float-input5" type="text" pInputText formControlName="gender" placeholder="Geschlecht" class="inputFiled">
</form>
