<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content">
      <div class="logo">
        <label class="first">Sep</label>
        <label class="second">Detect</label>
      </div>
      <input id="float-input1" type="text" pInputText formControlName="username" placeholder="Benutzername"
             [ngClass]="{ 'is-invalid': submitted && form.controls.username.errors }">
      <div *ngIf="submitted && form.controls.username.errors" class="invalid-feedback">
        <div *ngIf="form.controls.username.errors.required">Username is required</div>
      </div>
      <input id="float-input2" type="password" pInputText formControlName="password" placeholder="Passwort"
             [ngClass]="{ 'is-invalid': submitted && form.controls.password.errors }">
      <div *ngIf="submitted && form.controls.password.errors" class="invalid-feedback">
        <div *ngIf="form.controls.password.errors.required">Password is required</div>
      </div>
      <button pButton label="Login" [disabled]="loading"></button>
    </div>
  </form>
</div>
