<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content">
      <div class="logo">
        <label class="first">Sep</label>
        <label class="second">Detect</label>
      </div>
      <input id="float-input1" type="text" pInputText formControlName="username" placeholder="Username"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
      <input id="float-input2" type="password" pInputText formControlName="password" placeholder="Passwort"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
      <button pButton label="Login"></button>
    </div>
  </form>
</div>
