@import "./src/global.scss";

// content css grid
.container{
  padding-top: 30%;

  .content{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    // Logo
    .logo {
      align-self: center;
      font-size: 3em;
      margin-bottom: 15px;
      .first{
        color: $primary;
      }
      .second{
        color: $secondary;
      }
    }

    // Login Button
    input, button{
      margin: 7px;
      width: 60vw;
      align-self: center;
      color: $font-color-dark;
    }
  }

  // Error Message
  .invalid-feedback{
    align-self: center;
    color: $secondary;
  }
}
