$background: #374757;
$input_background: #e8f0fe;
$input_border: #49565f;
$primary: #60d7d3;
$secondary: #e74b51;
$font: Georgia, serif;
$font-color-dark: black;
$font-color-light: $input_background;
$border-radius: 3px;

$header_height: 60px;

  /* PF Button Style*/
.ui-button{
  background: linear-gradient(90deg, $primary 15px, $input_background 15px);
  color: black;
  border-color: $input_border;
}

.ui-inputtext{
  border: $input_border;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
