$background: #374757;
$background-light-color: #e8f0fe;

$font-color-dark: black;
$font-color-light: $background-light-color;


$input_border: #49565f;
$primary: #60d7d3;
$secondary: #e74b51;
$font: Georgia, serif;
$border-radius: 3px;

$header_height: 75px;

  /* PF Button Style*/
.ui-button{
  background: linear-gradient(90deg, $primary 15px, $background-light-color 15px);
  color: black;
  border-color: $input_border;
}

.ui-inputtext{
  border: $input_border;
}
