@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "./src/global.scss";

body {
  background: $background;
  padding: 0;
  margin: 0;
  font-family: $font;
}

.ui-sidebar {
  background-color: $background !important;
  border-color: $input_border !important;

  .buttonContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .buttonElement {
      margin-top: 3px;
      width: 100%;
      height: 50px;
      background: linear-gradient(90deg, $primary 15px, $background-light-color 15px);
      font-size: 1.5em;
      display: grid;
      grid-template-columns: 100%;
      align-content: center;
      color: $font-color-dark !important;
      padding-left: 30px;
    }

    .buttonSpacer {
      margin-top: 3px;
      width: 100%;
      height: 2px;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;

  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;

  button {
    margin: auto;
    color: $font-color-dark;
  }
}

.ui-confirmdialog {

  .ui-dialog-titlebar {
    background: $background-light-color !important;
    border-bottom: 0 !important;
  }

  .ui-dialog-content {
    background: $background !important;
    border-bottom: 0 !important;
    border-top: 0 !important;

    .ui-confirmdialog-message {
      color: $font-color-light;
    }
  }

  .ui-dialog-footer {
    background: $background !important;
    padding: 2px !important;
    display: grid;
    grid-template-columns: 50% 50%;

    .ui-button {
      margin: 0 0.1em;
      color: $font-color-dark;
    }

    .ui-button-icon-left {
      left: 20px;
    }
  }
}

.ui-dialog.warnDialog {
  width: 90vw;

  .ui-dialog-titlebar {
    color: $font-color-dark;
    font-size: 1.4em;
    border-color: $background;
    background-color: $secondary;

    .ui-dialog-titlebar-icons {
      display: none;
    }
  }

  .ui-dialog-content {
    color: $font-color-dark;
    font-size: 1.2em;
    border-color: $background;
    background-color: $secondary;
  }

  .ui-dialog-footer {
    color: $font-color-dark;
    border-color: $background;
    background-color: $secondary;
    text-align: center;

    button {
      width: 50% !important;
      color: $font-color-dark;
    }
  }
}

.item {
  padding: 0;
  width: 300px;
  height: 300px;
  background-color: crimson;
  color: #fff;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}
