@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "./src/global.scss";

body {
  background: $background;
  padding: 0;
  margin: 0;
  font-family: $font;
}

.ui-sidebar {
  background-color: $background !important;
  border-color: $input_border !important;

  .buttonElement {
    width: 100%;
    background: linear-gradient(90deg, $primary 15px, $input_background 15px);
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    color: $font-color-dark !important;
    padding-left: 30px;
  }

  .bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

  .bottom1 {
    position: fixed;
    left: 0;
    bottom: 51px;
    width: 100%;
    height: 50px;
  }

  .bottom2 {
    position: fixed;
    left: 0;
    bottom: 102px;
    width: 100%;
    height: 50px;
  }

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;

  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;

  button{
    margin: auto;
    color: $font-color-dark;
  }
}
